<div class="container-fluid " >
<div class="mdl-layout mdl-js-layout">

		<div class="mdl-layout__drawer">
			<nav class="mdl-navigation">
			<center><img src="img/perfil.png" class="logo-Pefil img-responsive" style="margin-top: 7px !important;"/></center>
			<br />
				
				<a href="#" class="mdl-navigation__link"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp; Meu perfil </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp; Pagamentos  </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Prêmios     </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp; Histórico   </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;  Suporte     </a>     
				
				<footer class="center-block" style="margin-top: 300px !important;">
				<i class="fa fa-power-off" aria-hidden="true"></i> Entrar
				<footer>

			</nav>
		</div>
	
	<div class="row  mdl-layout__header" style="margin-top:0px!important; display:flex !important;width:108%!important;margin:-15px!important;">	

		<div class="row img-responsive">
				<a href="#"><i style="margin-top:31px;margin-left:44px;" class="fa fa-arrow-left seta" ng-click="vm.landing()"  aria-hidden="true"></i></a>
				<p style="color:black;margin-top:-11px;margin-left:183px;"><b>DADOS DA VIAGEM</b></p>
				
		</div>	
	</div>
		
</div>	
	
	
<div class="parent" style="margin-top:68px">
<div class="container">
                <div class="page-header">
                    <h5><b>ENDERE&Ccedil;O DE PARTIDA</b></h5>
                </div>
    <form class="form-horizontal">
                <div class="row">   
					<div class="col-md-12"> 
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100% !important;">
							<input class="mdl-textfield__input mdl-js-textfield" type="text" id="inputRua" ng-model="vm.addressSinNum" disabled>
							<label class="mdl-textfield__label" for="inputRua">Endereço</label>
						</div>
					</div>
				</div>
				<div class="row">   
					<div class="col-xs-6"> 			
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input mdl-js-textfield" type="text" id="inputRuaNumero" ng-model="vm.numeroaltura">
								<label class="mdl-textfield__label" for="inputRuaNumero">Nº</label>
						</div>
					</div>
					
					<div class="col-xs-6"> 						
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input mdl-js-textfield" type="text" id="inputRuaComplemento" ng-model="vm.complemento">
								<label class="mdl-textfield__label" for="inputRuaComplemento">Complemento</label>
						</div>
					</div>
				</div>

					<div class="page-header" style="margin-top:20px">
						<h5><b>ESPECIFICA&Ccedil;&Otilde;ES</b></h5>
						<hr>
					</div>  
				
				<div class="col-sm-6 col-xs-6">
					<div class="row" style="margin-top:0px;font-size:16px">
						<input type="checkbox" name="options" id="option1" autocomplete="off" >
						<label for="option1"><b>Transporte <br />de animais</b></label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6">
					<div class="row" style="margin-top:0px;font-size:16px">
						   <input type="checkbox" name="options" id="option2" autocomplete="off"> 
							<label for="option2"><b>Porta malas grande</b></label>
						   
					</div>
				</div>	
				<br />	

        <br>
        <div class="page-header" style="margin-top:30px">
            <h5><b>TIPO DE PAGAMENTO</b></h5>
            <hr>
        </div>  
        <div class="col-sm-6 col-xs-6">
				<div class="row" style="margin-top:0px;font-size:16px; width:309px;">
					   <input type="checkbox" name="options" id="option3" autocomplete="off"> 
						<label for="option3"><b>Aplicativo DeTaxi <font size="2px">(Cartão de Crédito)</font></b></label>
						<img src="img/q1.png" class="img-responsive logo-car-wifi-1 " style="width:16%;margin-top:17px; height:26%;"/>
						<img src="img/q2.png" class="img-responsive logo-car-wifi-1 " style="width:16%;margin-top:-24px; margin-left:59px;height:26%;"/>
						<img src="img/q3.png" class="img-responsive logo-car-wifi-1 " style="width:16%;margin-top:-24px; margin-left:117px;height:26%;"/>
						<img src="img/q4.png" class="img-responsive logo-car-wifi-1 " style="width:10%;margin-top:-27px; margin-left:181px;height:26%;"/>
						<img src="img/q5.png" class="img-responsive logo-car-wifi-1 " style="width:14%;margin-top:-33px; margin-left:226px;height:26%;"/>
		
				</div>
		</div>	
			<br />
		<div class="page-header" style="margin-top:30px">
            <h5><b>&nbsp;</b></h5>
            <hr>
        </div>  
		
        <div class="col-sm-12 col-xs-12">
		<p><b>NO CARRO<b></p>
		
				<div class="col-sm-6 col-xs-6">
					<div class="row" style="margin-top:0px;font-size:16px">
						<input type="checkbox" name="options" id="option4" autocomplete="off" ng-click="vm.setPayment('C. Débito Maquina')">
						<label for="option4"><b>Cartão de Débito</b></label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6">
					<div class="row" style="margin-top:0px;font-size:16px">
						<input type="checkbox" name="options" id="option5" autocomplete="off" ng-click="vm.setPayment('Dinheiro')" >
						<label for="option5"><b>Dinheiro</b></label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6">
					<div class="row" style="margin-top:0px;font-size:16px">
						   <input type="checkbox" name="options" id="option6" autocomplete="off" ng-click="vm.setPayment('C. Crédito Maquina')"> 
							<label for="option6"><b>Cartão de Crédito</b></label>
						   
					</div>
				</div>
		</div>	
		

		<!--
                <b><input ng-click="vm.setPayment('Dinheiro')" style="color:blue;margin-left:10px" type="radio" name="options"> Dinheiro<br></b><br>
                <b><input ng-click="vm.setPayment('C. Crédito Maquina')" style="color:blue;margin-left:10px" type="radio" name="options" > C. Crédito<br></b><br>
                <b><input ng-click="vm.setPayment('C. Débito Maquina')" style="color:blue;margin-left:10px" type="radio" name="options"> C. Débito</b>
				
                <b><input ng-click="vm.setPayment('No aplicativo')" style="color:blue;margin-left:10px" type="radio" name="options" checked> C. Crédito<br></b><br>

		-->
		
		
	

            <div class="form-group">
    
		
                    <div class="col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-lg btn-default btn-block" style="color: #000000 !important;" ng-click="vm.pedirViaje()" style="font-size:20px"><b>CHAMAR TAXI</b></button>
                    </div>
           
            </div>      
    </form> 
        
</div>      
</div>   
</div>            
          
                  
	<!--<img src="img/footer_picture.png" style="width:230px;" class="center-block img-responsive">
	<center><font size="2">Version 1.2.0</font></center>
<br><br><br>-->
