<div class="container-fluid" style="margin-top:10px;position:relative;">
    <div style="z-index:100;position:relative" class="font_datosviaje">
        <center>ESTIMAR VALOR</center>
    </div>
        <div class="page-header" style="margin-top:10px" ng-show="vm.showNavDest">
            <div class="alert alert-success" role="alert">{{vm.valorestimado}}
				<a style="margin-left:10px" ng-show="vm.showNavDest" target="_blank" href="{{vm.urldestinonav}}">
					<i class="fa fa-share-square-o"></i>
				</a>
			</div>				
        </div>
        <div class="page-header" style="margin-top:6px" ng-show="!vm.showNavDest"></div>
       <div class="container">
           <div class="row" style="margin-top:1px">
               <div class="form-group">
                   <div class="col-md-6 col-md-offset-3 loginMargin">
                       <div class="input-group">
                           <span  class="input-group-addon"><i class="fa fa-globe" ></i> </span>
                           <input name="origem" placeholder="Origem" class="form-control" type="text" ng-model="vm.address" disabled>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row" style="margin-top:-8px">
               <div class="form-group">
                   <div class="col-md-6 col-md-offset-3 loginMargin">
                       <div class="input-group">
                           <input name="destino" placeholder="Digite o endere&ccedil;o" class="form-control" type="text" ng-model="vm.addressDestino" id="pac-input">
                           <span class="input-group-addon" ng-click="vm.CalculaValor()"><a href=""><img src="/img/lupa.png" /></a></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row"  style="margin-top:-8px">
               <div class="col-md-6 col-md-offset-3">
                   <ng-map id="mapaDest" class="map" default-style="false" zoom="13" center="[{{vm.latDest}},{{vm.lonDest}}]" map-initialized="vm.initMapDestino()">
<!--                       <marker centered="true" position="[{{vm.latDest}},{{vm.lonDest}}]"></marker>-->
                       <marker animation="Animation.BOUNCE" centered="true" position="[{{vm.latDest}},{{vm.lonDest}}]"></marker>
                   </ng-map>
               </div>
           </div>
       </div>
</div>
<br/>
	<img src="img/footer_picture.png" style="width:230px;" class="center-block img-responsive">
	<center><font size="2">Version 1.2.0</font></center>