<h5><center style="text-align:center !important;  margin-top: -3px;">{{vm.textos.Historico_Titulo}}</center></h5>

<div class="parent" style="margin-top:-22px" >
	<div class="postNav">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 oflow"  style="height:550px;">

					<uib-accordion>
					    <uib-accordion-group ng-repeat="item in vm.viajesHistorico">
					    	<uib-accordion-heading>
					    		{{item.DataViaje}} 
								<hr style="margin: 0em 0 !important;">
								{{item.origen}}
					    	</uib-accordion-heading>
							
					    	<div class="col-md-4">
                                <b> {{item.origen}}</b> <br>
							    <b>Valor:</b> ${{item.total}} <br>
							    <b>Data:</b> {{item.DataViaje}}<br>
							    <b>Motorista:</b> {{item.DatosChofer}} <br>
                                <b>Taxi:</b> {{item.DescripTaxi}} <br>
							    <br>
						    </div>
						    <div class="col-md-4 center">
                                Quali. Atendimento motorista:<br>
						      	<div star-rating ng-model="item.CalificViajeChofer" max="5" on-rating-select="vm.rateAuto(rating)"></div>
						    </div>
						    <div class="col-md-4 center">
						      	Quali. Atendimento Taxi:<br>
							    <div star-rating ng-model="item.CalificViajeCoche" max="5" on-rating-select="vm.rateChofer(rating)"></div>
						    </div>
					    </uib-accordion-group>
				  	</uib-accordion>
				</div>
			</div>
		</div>
	</div>


</div>
