<div class="container" style="background-color:white;">

<div class="row">
	
	<div class="mdl-layout mdl-js-layout">

		<div class="mdl-layout__drawer">
			<nav class="mdl-navigation">
			<center><img src="img/perfil.png" class="logo-Pefil img-responsive" style="margin-top: 7px !important;"/></center>
			<br />
				
				<a href="#" class="mdl-navigation__link"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp; Meu perfil </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp; Pagamentos  </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Prêmios     </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp; Histórico   </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;  Suporte     </a>     
				
				<footer class="center-block" style="margin-top: 300px !important;">
				<i class="fa fa-power-off" aria-hidden="true"></i> Entrar
				<footer>

			</nav>
		</div>
	</div>	
<br />
<br />

    

		<div style="position:relative">
			<center><img src="img/logo.png" class="logoNavbar img-responsive" style="margin-top: -26px !important;"/></center>
			<a href="#"><i class="fa fa-arrow-left seta2" style="margin-top: -26px !important;" ng-click=""  aria-hidden="true"></i></a>	
		</div>   <!--   vm.landing()   -->

		<div class="col-md-10">
			<div class="mdl-textfield mdl-js-textfield lupa" style="padding: 23px 0 !important; width: 246px !important;">
					<input class="mdl-textfield__input" type="text" id="endereco" ng-model="vm.address">
					<label class="mdl-textfield__label" for="endereco">ENDEREÇO</label>
			</div>
			<a href="#"><i class="fa fa-search lupa-expanded" aria-hidden="true" ng-click="vm.updatePosition(map)"></i></a>
			  
		</div> 
</div>
	
	
    <!-- MAP -->
    <div class="row mapa">
        <ng-map id="mapa" class="map map-extends" style="height:760%" default-style="false" ng-if="vm.haveLocation" center="[{{vm.lat}},{{vm.lon}}]" map-initialized="vm.initMap()">
            <marker centered="true" position="[{{vm.lat}},{{vm.lon}}]"></marker>
        </ng-map>

    <!-- BUTTONS -->
	
		<div class="row" >
		<div class="btn-group" data-toggle="buttons" style="width:100%; margin-left:11%; margin-top:-72%;">
            <label class="btn btn-lg btn-tw-map-1 " ng-click="vm.joaopagaviaje()" style="width:40%;margin-top:15px;font-size:14px;border: 1px solid #080808;">
                <input type="radio" name="options" id="option1" autocomplete="off" aria-checked="false" >
				TAXI COMUM
				<img src="img/car.png" class="img-responsive logo-car " style="width:10%;margin-top:-24px;"/>
				</input>
            </label>
            <label class="btn btn-lg btn-tw-map-2  btn-block" ng-click="vm.joaopagaviajeCart()" style="width:40%;margin-top:15px;font-size:14px; border: 1px solid #080808;">
                <input type="radio" name="options" id="option2" autocomplete="off" aria-checked="false">
				<b>30% OFF</b>
				<img src="img/car.png" class="img-responsive logo-car " style="width:10%;margin-top:-24px;"/>
            </label>

			<label class="btn btn-lg btn-tw-map-3  btn-block" ng-click="vm.joaopagaviajeCart2()" style="width:40%;margin-top:3px;font-size:14px; border: 1px solid #080808;">
                <input type="radio" name="options" id="option3" autocomplete="off" aria-checked="false">
				<img src="img/car_wifi.png" class="img-responsive logo-car-wifi-1 " style="width:26%;margin-top:-4px;"/>
				<img src="img/tim.png" class="img-responsive logo-tim-1 " style="height:28%;width:28%;margin-top:-16px;margin-left:76px;"/>
            </label>
            <label class="btn btn-lg btn-tw-map  btn-block" ng-click="vm.joaomensaje()" style="width:40%;margin-top:3px;font-size:14px; border: 1px solid #080808;">
			
                <input type="radio" name="options" id="option3" autocomplete="off" aria-checked="false">
				<b>30% OFF</b>
				<img src="img/car_wifi.png" class="img-responsive logo-car-wifi-1 " style="width:26%;margin-top:-22px;"/> 
				
				
            </label>
		</div>

		<div class="btn-group" data-toggle="buttons" style="width:100%; margin-left:11%;margin-top:-48%;">
			<a class="btn btn-lg btn-tw-map-lg btn-block" ng-click="vm.datos_viaje()" style="width:80%;margin-top:15px;font-size:14px; border: 1px solid #080808;">
				<b>{{vm.textos.Home_Btn_LlamarTaxi}}</b>
			</a>
		</div>

		</div>
    </div> 
    <!-- / ALERT -->
    <div class="alert alert-danger" ng-show="vm.showWarning" style="margin-top:-300px;margin-left:60px;z-index:100;position:absolute;font-size:16px">
        <strong>{{vm.textos.Home_Alert_SinTaxi}}</strong>
    </div>
	</div>  
	<!--<img src="img/footer_picture.png" style="width:180px;" class="center-block img-responsive">
	<center><font size="2">Version 1.2.0</font></center>-->
