<div id="login" class="container" >
    <div class="row logoHeader" style="margin-top:40px">
        <div class="col-md-4 col-md-offset-2">
            
        
            <img src="img/logo.png" style="width:103px;" class="center-block img-responsive">

<!--        
	<div class="bottom text-center">
		<a ng-click="vm.register()"><font color="#080808"><b>Cadastre-se</b></font></a>
	</div>
-->
        </div>
	</div>
	<br>


<!-- habilitar cuando funciones
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" class="btn btn-lg btn-fb btn-block" ng-click="vm.logueadoFacebook ? vm.obtenerSessionConFB() : vm.loginFb()" >
                <b>Facebook </b>
            </button>
        </div>
		<div id="fb-root"></div>
    </div>    
	<br>
-->

    <!--
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" class="btn btn-lg btn-go btn-block" ng-click="">
                <b>Google+</b>
            </button>
        </div>
    </div>


	<br>
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" onclick="Mudarestado('minhaDiv')" class="btn btn-lg btn-tw btn-block" ng-click="isCollapsededit = !isCollapsededit">
                <b>Email</b>
            </button>
        </div>
	</div>
-->

	<br>
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" ng-click="vm.register()" class="btn btn-log btn-lg btn-default" ng-click="isCollapsededit = !isCollapsededit">
                <b>CADASTRE-SE</b>
            </button>

        </div>
	</div>
    <br />
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" class="btn btn-log btn-lg btn-default btn-block" data-toggle="collapse" data-target="#minhaDiv">
               <font size="3 px"> JÁ TEM CONTA? FAZER LOGIN. </font>
            </button>
        </div>
    </div>
	<br />
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" ng-click="" class="btn btn-lg btn-tw-facebook btn-block" >
              <font size="5px"> <b>facebook.</b></font>
            </button>
        </div>
	</div>
	<br />
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" ng-click="" class="btn btn-lg btn-tw-google btn-block" >
              <font size="5px">  <b>Google</b> </font>
            </button>
        </div>
	</div>
	<br />
	<div class="row">
        <div class="col-md-4 col-md-offset-2">
            <button type="button" ng-click="" class="btn btn-lg btn-tw btn-block" >
                <font size="4px"><b><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;E-MAIL</b></font>
            </button>
			<br />
        </div>
	</div>
    <br>
	<div id="minhaDiv" class="collapse">
	   	<div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="input-group loginMargin">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span> 
                    <input name="first_name" placeholder="{{vm.textos.LogIn_Placeholder_Email}}" class="form-control" type="text" ng-model="vm.username">
                </div>
            </div>
        </div>
    	<div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="input-group loginMargin">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input name="first_name" placeholder="{{vm.textos.LogIn_Placeholder_Clave}}" class="form-control" type="{{vm.showPassword ? 'text' : 'password' }}" ng-model="vm.password">
                </div>
                <span ng-show="vm.password.length"> {{vm.textos.LogIn_CheckBox_MostrarClave}}: <input  style="margin-top:20px;margin-bottom:20px" type="checkbox" ng-model="vm.showPassword" /> </span>
            </div>
    	</div>

    	<div class="row">
            <div class="col-md-4 col-md-offset-2">
                <br>
                <button type="button" class="btn btn-lg btn-tw btn-block" ng-click="vm.doLogin()">
                    <b>{{vm.textos.LogIn_Btn_Login}}</b>
                </button>
            </div>
    	</div>    
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
             <img src="img/footer_picture.png" style="width:155px;margin-top:10px" class="center-block img-responsive" />
            <p class="text-center"><font size="3px"><b>PEÇA COM UM CLICK,<br /> VIAGE COM CONFORTO. PAGUE SIMPLES.</b></font></p>
        </div>
    </div>
   
  
<!--	<center><font size="2">Versão 1.2.0</font></center>	

    <div class="row">
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4 inputGroupContainer">
                <div class="input-group loginMargin">
                    <span class="input-group-addon"><i class="fa fa-user"></i> {{vm.textos.LogIn_Label_Email}}: </span>
                    <input name="first_name" placeholder="{{vm.textos.LogIn_Placeholder_Email}}" class="form-control" type="text" ng-model="vm.username">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4 inputGroupContainer">
                <div class="input-group loginMargin">
                    <span class="input-group-addon"><i class="fa fa-lock"></i>  {{vm.textos.LogIn_Label_clave}}: </span>
                    <input name="first_name" placeholder="{{vm.textos.LogIn_Placeholder_Clave}}" class="form-control" type="{{vm.showPassword ? 'text' : 'password' }}" ng-model="vm.password">
                </div>
                <span ng-show="vm.password.length"> {{vm.textos.LogIn_CheckBox_MostrarClave}}: <input  style="margin-top:20px;margin-bottom:20px" type="checkbox" ng-model="vm.showPassword" /> </span>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-lg btn-default btn-block" ng-click="vm.doLogin()">
                <b>{{vm.textos.LogIn_Btn_Login}}</b>
            </button>
        </div>
    </div>

    <!--
        <div class="row">
            <div class="col-md-4 col-md-offset-4 loginTopMargin">
                <a target="_blank" href="http://www.tim.com.br/rj/para-voce/recarga/recarga-express?gclid=CjwKEAjw0KK4BRDCiKHD5Ny8pHESJACLE620uyn4DW6Qt-Q6GjGCEaCAIEWca2odLatuKtM31QvsORoCQxvw_wcB"><img src="/img/tim.png" /></a>
                <a target="_blank" href="https://www.mercadopago.com.br/"><img src="/img/mercado_pago.jpg" /></a>
            </div>
        </div>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top:50px">
            <button type="button" class="btn btn-lg btn-default btn-block" ng-click="vm.register()">
                <i class="fa fa-user-plus"></i>
                <b>{{vm.textos.LogIn_Btn_NuevoUsuario}}</b>
            </button>
        </div>
    </div>
-->
</div>