<div class="container-fluid" >

<div class="mdl-layout mdl-js-layout">

		<div class="mdl-layout__drawer">
			<nav class="mdl-navigation">
			<center><img src="img/perfil.png" class="logo-Pefil img-responsive" style="margin-top: 7px !important;"/></center>
			<br />
				
				<a href="#" class="mdl-navigation__link"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp; Meu perfil </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp; Pagamentos  </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Prêmios     </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp; Histórico   </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;  Suporte     </a>     
				
				<footer class="center-block" style="margin-top: 300px !important;">
				<i class="fa fa-power-off" aria-hidden="true"></i> Entrar
				<footer>

			</nav>
		</div>
	
	<div class="row  mdl-layout__header" style="margin-top:0px!important; display:flex !important;width:108%!important;margin:-15px!important;">	

		<div class="row img-responsive">
				<a href="#"><i style="margin-top:31px;margin-left:44px;" class="fa fa-arrow-left seta" ng-click="vm.landing()"  aria-hidden="true"></i></a>
				<p style="color:black;margin-top:-11px;margin-left:183px;"><b>MENSAGEM</b></p>
				
		</div>	
	</div>
		
</div>
	

    <div ng-show="vm.seccionActiva == 'seleccionarChofer'">
            <div class="container">
                <div style="margin-top:15px;margin-left: 20px">
				<div class="balao2 font_balao" style="height: 30px;width: 90%"><center>Estou aguardando na portaria</center></div> 
                </div>
				<br>
                <div class="row" id=""> <!--taxiChoferInfo-->
                    <div class="col-xs-12">
                        <!-- <h3 ng-init="urlfoto = 'https://archivos.gisbydx.com/FotosChoferes/' + vm.driver.idChofer + '.png' "> -->
                        <center>
                        <!--<a ng-init="urlfoto = 'http://archivos.gisbydx.com/FotosChoferes/503.png' "> -->
						<a ng-init="urlfoto = 'img/avatar.png' ">
							<img ng-src="{{urlfoto}}" alt="..." class="img-circle img-responsive" style="border: 6px solid #fff;width: 180px;height: 180px">
                            <div style="color:#000;font-size:20px">{{vm.driver.nombre}} {{vm.driver.apellido}}</div>
							<br>
                        </a>
						</center>
						  <div class="form-group">
							<label class="sr-only" for="exampleInputAmount">TAXI</label>
							<div class="input-group">
							  <div class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TAXI<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
							  <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.MarcaAuto}}-{{vm.driver.ModeloAuto}}">
							</div>
						  </div>
						  <div class="form-group">
							<label class="sr-only" for="exampleInputAmount">PLACA</label>
							<div class="input-group">
							  <div class="input-group-addon">&nbsp;&nbsp;&nbsp;<b>PLACA</b>&nbsp;&nbsp;&nbsp;</div>
							  <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.patente}}">
							</div>
						  </div>
						  <div class="form-group">
							<label class="sr-only" for="exampleInputAmount">CELULAR</label>
							<div class="input-group">
							  <div class="input-group-addon"><b>CELULAR</b></div>
							  <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.celular}}">
							</div>
						  </div>
                    </div>
                </div>
				<div class="row center" id="taxiMensagem" ng-show="false">
                <h1>
                    <span id="mensagem">
                        <b>"</b><i>{{vm.dummieMsg.mensaje}}</i><b>"</b>
                    </span>
                </h1>
                </div>
                <!-- CTA BUTTONS -->
                <div class="row panel-cta-buttons" style="margin-top:26px">
					<div class="col-lg-6 col-md-3 col-xs-12">
                        <a class="btn btn-lg btn-danger btn-block" href="javascript:void(0)" style="font-size:21px;border-radius: 10px">
                            Chegarei em 5 minutos<div class="visible-xs"></div> 
                        </a>
                    </div>
					<br />
					<br />
                    <div class="col-lg-6 col-md-3 col-xs-12">
                        <a class="btn btn-lg btn-danger btn-block" href="javascript:void(0)" ng-click="vm.accionChofer(false)" style="font-size:21px;border-radius: 10px">
                            Cancelar<div class="visible-xs"></div> 
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-3 col-xs-6">
                        <a class="btn btn-lg btn-success btn-block" href="javascript:void(0)" ng-click="vm.accionChofer(true)" style="font-size:21px;border-radius: 10px">
                            Aceitar<div class="visible-xs"></div> 
                        </a>
                    </div>
                </div>
                <!-- / CTA BUTTONS -->
                </div>
    </div>
    
       <div class="" ng-show="vm.seccionActiva == 'verChofer'">
	   
	   
           <div class="page-header-2" style="margin-top:-50px; margin-left:15px">
				<div class="balao-2" style="height: 56px;width: 98%">
					<center style="margin-top:65px !important;"><h5><i>Estou aguardando na portaria</i></h5></center>
				</div>
           </div>
        <div class="container" style="padding-right:30px !important;padding-left: 30px !important; height: 250px !important">
            <div class="row" id="taxiChoferInfo" style="margin-top:65px">
                    <table>
                        <tr>
                            <td>
                                <a>
                                    <!--<div ng-init="urlfoto = 'https://archivos.gisbydx.com/FotosChoferes/' + vm.driver.idChofer + '.png'">
                                    <div ng-init="urlfoto = 'http://archivos.gisbydx.com/FotosChoferes/503.png'">-->
                                    <div ng-init="urlfoto = 'img/perfil_90.png'">
                                        <img ng-src="{{urlfoto}}" class="fotoChof" />
                                    </div>
                                </a>
                            </td>
                            <td>
							<ul>
                                <h5><strong>{{vm.driver.nombre}} {{vm.driver.apellido}} </strong></h5>
								<li><strong>TAXI:</strong> {{vm.driver.MarcaAuto}}-{{vm.driver.ModeloAuto}}</li>
								<li><strong>PLACA:</strong> {{vm.driver.patente}}</li>
								<li><strong>CELULAR:</strong> {{vm.driver.celular}}</li>                               
                            </ul>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="container">
            <div class="row center" id="taxiMensagem" ng-show="false">
                <h1>
                    <span id="mensagem">
                        <b>"</b><i>{{vm.dummieMsg.mensaje}}</i><b>"</b>
                    </span>
                </h1>
            </div>

            <!-- CTA BUTTONS -->
            <div class="row panel-cta-buttons" style="margin-top:5px;margin-bottom:10px">
                <div class="col-lg-6 col-md-3 col-xs-6">
                    <a class="btn btn-lg btn-success btn-block" href="javascript:void(0)" ng-show="false" ng-click="vm.estimativa()">
                        Estimar Valor
                    </a>
                </div>
				<div class="col-lg-6 col-md-3 col-xs-12">
                    <div class="btn btn-lg btn-default btn-block" href="javascript:void(0)" >
                        Chegarei em 5 minutos
                    </div>
					<br /><br />
                </div>

                <div class="col-lg-6 col-md-3 col-xs-12">
                    <div class="btn btn-lg btn-danger btn-block" href="javascript:void(0)" ng-click="vm.cancelarTaxi()">
                        CANCELAR
                    </div>
                </div>
            </div>
            <!-- / CTA BUTTONS -->

            <div class="row" >
                <div class="" ng-show == "vm.showMapaChofer">
                    <ng-map id="mapa" class="map" default-style="false" zoom="13" style="height: 406px !important; width: 468px !important;" center="[{{vm.driver.lat}},{{vm.driver.lon}}]" map-initialized="vm.initMap()">
                        <marker animation="Animation.BOUNCE" centered="true" position="[{{vm.driver.lat}},{{vm.driver.lon}}]"></marker>
                    </ng-map>
                </div>
            </div>
        </div>
            </div>

        <div class="postNav" ng-show="vm.seccionActiva == 'buscarChofer'">
            <div class="row">
                <a href="#" class="navbar-brand-by-section">N&atildeo ha taxi</a>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4  col-xs-6 loginTopMargin">
                        <button type="button" class="btn btn-block botonHome btn-success" ng-click="vm.pedirViaje()">
                            PEDIR TAXI <div class="visible-xs"></div>
                        </button>
                    </div>
                </div>


            </div>
        </div>

</div>
</div>
</div>
