<!--<a href="#" class="navbar-brand-by-section"  style="margin-bottom:20px">{{vm.textos.PagarViaje_Titulo_PagarViaje}}</a>
-->
<div class="container-fluid" style="margin-top:10px;position:relative;height:100vh; " id="div-img">

<div class="mdl-layout mdl-js-layout">
	<div class="mdl-layout__drawer" style="z-index: 99999 !important;">
			<nav class="mdl-navigation">
			<center><img src="img/perfil.png" class="logo-Pefil img-responsive" style="margin-top: 7px !important;"/></center>
			<br />
				
				<a href="#" class="mdl-navigation__link"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp; Meu perfil </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp; Pagamentos  </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Prêmios     </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp; Histórico   </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;  Suporte     </a>     
				
				<footer class="center-block" style="margin-top: 300px !important;">
				<i class="fa fa-power-off" aria-hidden="true"></i> Entrar
				<footer>

			</nav>
	</div>

    <div style="z-index:100;position:relative; margin-top:0px;background-color:#ffffff;height:8vh " class="font_datosviaje ">
        <center>{{vm.textos.PagarViaje_Titulo_PagarViaje}}</center>
		<a href="#"><i style="margin-top:31px;margin-left:44px;" class="fa fa-arrow-left seta" ng-click="vm.landing()"  aria-hidden="true"></i></a>
    </div>
	
</div>	
    <!-- 1er vista -->
    <div id="01" class="container" ng-init="pg.idChofer = vm.driver.idChofer"  ng-if="vm.payment != 'No aplicativo'" ng-show="vm.valorApagar" style="margin-top:0px;height:92vh">
	<br />
        <div class="form-group" ng-show="vm.valorApagar">
           <!-- <div class="col-md-12"> -->
				<center>
                    <div class="alert-2 alert-success-2" style="height: 7vh !important;">
                        <strong style="font-size:18px; color:#185fbb !important;">{{vm.textos.MsjFinViaje_Valor_a_Pagar}} {{vm.textos.String_Moneda}} {{vm.valorApagar}}</strong>
                    </div>
                    <div class="alert-2 alert-success-2" style="height: 7vh !important;">
                        <strong style="font-size:18px">Viagem finalizada!</strong>
                    </div>
                </center>                
           <!-- </div> -->
        </div>
		<div><span style="font-size:16px; margin-left:0px"><b>{{vm.address}}</b></div></h4>
		<br />
		<div class="bg-info" style="border-radius: 6px;">
			<div class="row" style="height: 5vh !important;">
				<div class="col-xs-12" style="margin-left:25px !important;"><b> Av Afonso de Taunay, 651</b></div>
			</div>
				<hr style="margin: 4px 0!important;">
			<div class="row" style="height: 5vh !important;">		
				<div class="col-xs-12" style="margin-left:25px !important;"><b>Barra da Tijuca, Rio de Janeiro</b></div>
			</div>
		</div>
		<br />
		<div><span style="font-size:16px; margin-left:0px"><b>{{vm.address}}</b></div></h4>
		
   <div class="row">
			<div class="col-md-12" style="margin-top:0px; height:60px !important;">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="exampleInputAmount" value="{{vm.driver.nombre}} {{vm.driver.apellido}}">
					<label class="mdl-textfield__label" for="exampleInputAmount">{{vm.textos.MsjFinViaje_Chofer}}</label>
     			</div>
     		</div>
	</div>		
	<div class="row">		
			<div class="col-md-12" style="margin-top:-10px">	
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="exampleInputAmount2" value="{{vm.driver.MarcaAuto}}-{{vm.driver.ModeloAuto}}-{{vm.driver.patente}}">
					<label class="mdl-textfield__label" for="exampleInputAmount2">{{vm.textos.MsjFinViaje_Taxi}}</label>
     			</div>
				</div>
	</div>			
            
                
                <div ng-show="!vm.puntuoViaje" class="bg-info" style="border-radius: 6px;">
                        <div class="row">
                            <div class="col-xs-4" style="margin-left:25px !important;">
								<b>TAXISTA</b>
                            </div>
							<div class="col-xs-5" >
								<div star-rating ng-model="vm.puntosChofer" max="5" on-rating-select="vm.rateFunction()"></div>
							</div>
                        </div>
							<hr style="margin: 0em 0 !important;">
                        <div class="row">
                            <div class="col-xs-4" style="margin-left:25px !important;">
                                <b>VEÍCULO</b>
							</div>
							<div class="col-xs-5">
                                <div star-rating  ng-model="vm.puntosAuto" max="5"  on-rating-select="vm.rateFunction()"></div>
                            </div>
                        </div>
                </div>
            <br />
            <button type="button" class="btn btn-lg btn-tw btn-block" style="font-size:20px;background:#185fbb !important;" ng-click="vm.puntuarViaje(true)"><b>PAGAR</b></button>
    </div>              



    <!-- 2 vista  -->
    <div class="parent" ng-init="pg.idChofer = vm.driver.idChofer" ng-if="pg.vista == 'pagar' &&  vm.payment == 'No aplicativo'" ng-show="vm.valorApagar" style="margin-top:-51px;background:#003152;height:100vh">
        <div class="postNav" ng-init="pg.ValorPagado = vm.valorApagar">
            <div class="col-md-12">    
                <div class="form-group" ng-show="vm.valorApagar">
                    <br>
                    <h3>
                        <span class="form-control" style="font-size:20px;background:#3f9ce8;font-style:normal;color:#fff;text-align:center;vertical-align:middle">{{vm.textos.MsjFinViaje_Valor_a_Pagar}} {{vm.textos.String_Moneda}} {{vm.valorApagar}}</span>
                    </h3>
                    <br>
                    <h5 style="font-size:20px;color:#fff;margin-top:-13px">{{vm.textos.PagarViaje_Label_TCGuardado}}:</h5>
					<hr style="margin: -1em -21px !important;">
                    <form class="form-horizontal" id="pay">                       
                        <div class="form-group" style="margin-top:20px">
                            <div class="col-sm-6 col-xs-12">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
								
								<!-- <select  class="form-control" id="cardId" name="cardId" data-checkout='cardId' ng-model="pg.tarjeta" ng-options="(tarjeta.label) for tarjeta in pg.tarjetas track by tarjeta.id"> 
                                </select> -->
								
								  <input class="mdl-textfield__input" value="teste01" type="text" id="country" readonly tabIndex="-1" data-val="BLR" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;" />
									<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="country" style="font-size: 14px!important;"  >
									  <li class="mdl-menu__item" data-val="01">teste01</li>
									  <li class="mdl-menu__item" data-val="02">teste02</li>
									</ul>
								</div>
                            </div>
                            <br>
                            <br><br>

                            <div class="col-sm-6 col-xs-12">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
									<div class="mdl-textfield mdl-js-textfield">
										<input class="mdl-textfield__input" type="text" id="cvv" data-checkout="securityCode" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;" maxlength="3">
										<label class="mdl-textfield__label" for="cvv" style="color: rgb(255, 251, 251)!important;font-size: 14px!important;" >C&oacute;digo de Seguran&ccedil;a (3 digitos)</label>
									</div>
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    
									
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="col-sx-12">
                                            <button type="submit"  id="bt1" class="btn btn-lg btn-pagar btn-block" ng-click="pg.pagar()" style="margin-top:25px; text-align:left !important;" >
                                                {{vm.textos.DatosTC_Btn_Pagar}}<img src="img/mercado_pago.png" style="width:147px; margin-top:-36px" class="leftblock img-responsive">
                                            </button>
                                        </div>
                                    </div>
									<div class="col-sm-6 col-xs-12">
                                        <div class="col-sx-12">
                                            <button type="submit" id="bt2" class="btn btn-lg btn-pagar btn-block" ng-click="pg.pagar()" style="margin-top:25px; text-align:left !important;" >
                                                {{vm.textos.DatosTC_Btn_Pagar_dinheiro}}<img src="img/carteira.png" style="width:30px; margin-top:-32px" class="leftblock img-responsive">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </form>
                </div>
            </div>
        </div>    
		
    </div>

    <!-- 3ER VISTA YA PAGO Y TIENE LA TELA DEL ERROR -->
    <div class="container" style="background:#003152;height:100vh">
        <div class="parent" ng-if="pg.vista == 'pago'">
            <div class="col-md-12">
                <h3>
                    <span class="form-control" style="font-size:20px;background:#6dc26f;color:#fff;text-align:center;vertical-align:middle">VALOR PAGO {{vm.textos.String_Moneda}} {{vm.valorApagar}}</span>
                </h3>
            </div>
            <div class="col-md-12">
                <center>
                    <div class="alert alert-success">
                        <strong style="font-size:20px">Pagamento realizado com sucesso!</strong>
                    </div>
                </center>
                <!--	<h3 class="text-default" style="font-size:20px;color:#fff"><b>{{vm.textos.MsjFinViaje_Origen}}</b></h3> -->
                    <h4 style="color:#fff;font-size:20px"><b>Dados da viagem:</b></h4>
                        <div class="bg-info">
                            <h4><span><b>&nbsp;{{vm.address}}</b></span></h4>
                        </div>
                        <div class="form-group" style="margin-top:-10px">
                            <label class="sr-only" for="exampleInputAmount">{{vm.textos.MsjFinViaje_Chofer}}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><b>{{vm.textos.MsjFinViaje_Chofer}}<b></div>
                                    <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.nombre}} {{vm.driver.apellido}}">
                                </div>
                            <label class="sr-only" for="exampleInputAmount">{{vm.textos.MsjFinViaje_Taxi}}</label>
                            <div class="input-group">
                                <div class="input-group-addon"><b>{{vm.textos.MsjFinViaje_Taxi}}<b></div>
                                <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.MarcaAuto}}-{{vm.driver.ModeloAuto}}-{{vm.driver.patente}}">
                            </div>
                            <div ng-show="!vm.puntuoViaje" class="bg-info">
                                <center>
                                    <h4>
                                        <div class="col-md-12">
                                            Qualificação do taxista
                                            <div star-rating ng-model="vm.puntosChofer" max="5" on-rating-select="vm.rateFunction()"></div>
                                        </div>
                                    </h4>
                                </center>
                                <center>
                                    <h4>
                                        <div class="col-md-12">
                                            Qualificação do veículo
                                            <div star-rating  ng-model="vm.puntosAuto" max="5"  on-rating-select="vm.rateFunction()"></div>
                                        </div>
                                    </h4>
                                </center>
                            </div>
                        </div>                    
                        <button type="button" class="btn btn-lg btn-tw btn-block" style="font-size:20px" ng-click="vm.puntuarViaje(true)"><b>ACEITAR E QUALIFICAR</b></button>
                        <br>
                        <br>
            </div>
            <br>
        </div>
        <div class="parent" ng-if="pg.vista == 'error'">
            <div class="postNav">
                <div class="form-group" style="margin-top:0px">
                    <div class="col-md-12">
                        <h3><span class="label label-default" style="font-size:26px">Valor: {{vm.textos.String_Moneda}} {{vm.valorApagar}}</span></h3>
                    </div>
                </div>
                <div class="container">
                    <h1 class="alert alert-danger" style="margin-top:70px;margin-left:20px">{{vm.textos.MsjFinViaje_Error}}</h1>
                </div>
            </div>
        </div>
    </div>

</div>