<div class="parent">

	<div class="postNav">
		<div class="jumbotron jumboTitulo">
			<div class="subtitulo center"> 
				<i class="fa fa-clock-o"></i>
				PROGRAMAR VIAGEM <br>
			</div>
		</div>

		<div class="container">

		<div class="row">
			<div class="alert alert-danger" ng-show="vm.showWarning">
				<strong>No hay taxis disponibles</strong>
			</div>
			<div class="col-md-2 col-md-offset-3">

			</div>
		</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-3 col-xs-6 loginMargin">
					<div class="spacerProgramar">
						
					</div>
					<p class="input-group">
						<span class="input-group-addon" ng-click="vm.openPicker()">
							<i class="fa fa-calendar"></i> 
						</span>
						<input uib-datepicker-popup
							   type="text" class="form-control"
				               datepicker-popup="mediumDate"
				               datepicker-options="vm.datepickerOptions"
				               is-open="vm.datepickerOpen"
				               ng-click="vm.openPicker()"
				               ng-model="vm.datepickerDate"
				               popup-placement="bottom"
				               style="text-align:center" />
			        </p>
			    </div>

				<div class="col-xs-2 center">
						
						<uib-timepicker ng-model="vm.hourpicker"
										ng-change="changed()"
										show-meridian="false"
										style="display:inline">
						</uib-timepicker>

			    </div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6 col-md-offset-3 loginMargin">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-globe"></i> </span>
							<input  name="first_name" placeholder="Origem" class="form-control" type="text" ng-model="vm.address">
						</div>
					</div>
				</div>
			</div>

			<div class="row">		
				<div class="col-md-3 col-xs-6 col-md-offset-3 loginMargin">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-list"></i> </span>
						<input  name="first_name" placeholder="Numero" class="form-control" type="text">
					</div>
				</div>
				
				<div class="col-md-3  col-xs-6 loginMargin">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-list"></i> </span>
						<input  name="first_name" placeholder="Complemento" class="form-control" type="text">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-5">
					<div class="radio center">
					 <span> <b> MODO DE PAGAMENTO: </b> </span>
					  <label><input type="radio" ng-model="vm.payment" name="optradio" value="Dinheiro">Dinheiro</label>
					  <label><input type="radio" ng-model="vm.payment" name="optradio" value="Cartao Credito">Cartão</label>
					</div>
				</div>
			</div>

			<div class="row">



            <div class="col-md-4 col-md-offset-2 col-xs-6 loginTopMargin">
            </div>

            <div class="col-md-4 col-xs-6 loginTopMargin">
            </div>


            <div class="col-md-4 col-md-offset-2 col-xs-6 loginTopMargin">
            </div>

            <div class="col-md-4 col-xs-6 loginTopMargin">
                <img src="img/programar.png" ng-click="vm.programarViaje()" class="logoNavbar">
            </div>


		</div>
	</div>

</div>


