<div id="register" class="container">
	<div class="row  mdl-layout__header" style="margin-top:0px!important; display:flex !important;width:108%!important;margin:-15px!important;">	

		<div class="row img-responsive">
			
				<a href="#"><i class="fa fa-arrow-left seta" ng-click="vm.landing()"  aria-hidden="true"></i></a>
			
				<img src="img/logo.png" style="width:70px; margin-top: -36px;" class="center-block img-responsive">
			
		</div>	
	</div>
	
	
	
	
<div class="container">
	
		
			
					
			
		
	
<br />
<br />

		<div class="row icon">
				<i class="fa fa-user-plus userGrande"  aria-hidden="true"></i>
		</div>
<br />
	<div class="row icon">
	
		<form action="#" style="margin-top:-99px !important;">
		

			<i class="fa fa-user user-expanded" aria-hidden="true"></i>		
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input id="first_name" name="first_name" class="mdl-textfield__input" type="text" ng-model="vm.newUser.nombre">
				<label class="mdl-textfield__label" for="first_name">NOME</label>
			</div>


				<br/>
			<i class="fa fa-pencil lock-expanded" aria-hidden="true"></i>	
		    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input id="last_name" name="first_name" class="mdl-textfield__input" type="text" ng-model="vm.newUser.apellido">
				<label class="mdl-textfield__label" for="last_name">SOBRENOME</label>
			</div>
				<br/> 
			
			<i class="fa fa-envelope lock-expanded" aria-hidden="true"></i>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input id="email" name="email" class="mdl-textfield__input" type="text" ng-model="vm.newUser.email">
				<label class="mdl-textfield__label" for="email">E-MAIL</label>
			</div>
				<br/> 
			
		<i class="fa fa-lock lock-expanded " aria-hidden="true"></i>			
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input id="senha" name="senha" class="mdl-textfield__input" type="password" ng-model="vm.newUser.password">
				<label class="mdl-textfield__label" for="senha">SENHA</label>
			</div>
				<br/> 	
				<i class="fa fa-lock lock-expanded " aria-hidden="true"></i>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input id="senha2" name="senha2" class="mdl-textfield__input" type="password"  ng-model="vm.newUser.repassword">
				<label class="mdl-textfield__label" for="senha2">CONFIRMAR SENHA</label>
			</div>
				<br/> 
				<i class="fa fa-mobile celular-expanded " aria-hidden="true"></i>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input id="CELULAR" name="CELULAR" class="mdl-textfield__input" type="text"  ng-model="vm.newUser.celular">
				<label class="mdl-textfield__label" for="CELULAR">CELULAR</label>
			</div>
				<br/> 
				<br/> 

			
		</form>
	</div>


	
	 <div class="row">

		<div class="col-md-12 col-md-offset-2">
			<button type="button" class="btn btn-lg btn-default-black btn-block"  ng-click="vm.createUser()">
				<b>CRIAR CONTA</b>
			</button>
		</div>
	</div>

</div>
</div>