<!--<a href="#" class="navbar-brand-by-section" style="margin-bottom:15px">{{vm.textos.DatosTC_Titulo_TCredito}}</a>
-->
<div class="container-fluid" style="margin-top:-5px;position:relative;height:104vh" ng-init="mp.ValorViaje = vm.valorApagar">

<div class="mdl-layout mdl-js-layout"  >
<div style="z-index:100;position:relative" class="font_datosviaje" >
    <center style="margin-top: 19px !important; background: white; height: 50px !important;" >{{vm.textos.DatosTC_Titulo_TCredito}} </center>
</div>

    
		<div class="mdl-layout__drawer" >
			<nav class="mdl-navigation">
			<center><img src="img/perfil.png" class="logo-Pefil img-responsive" style="margin-top: 7px !important;"/></center>
			<br />
				
				<a href="#" class="mdl-navigation__link"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp; Meu perfil </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp; Pagamentos  </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Prêmios     </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp; Histórico   </a>
				<a href="#" class="mdl-navigation__link"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;  Suporte     </a>     
				
				<footer class="center-block" style="margin-top: 300px !important;">
				<i class="fa fa-power-off" aria-hidden="true"></i> Entrar
				<footer>

			</nav>
		</div>
</div>		


    <div class="parent" style="margin-top:-45px;background:#003152">
        <div class="postNav" >
            <div class="container">
            <form class="form-horizontal" id="pay" ng-init="mp.idChofer = vm.driver.idChofer">
            <!--  <form class="form-horizontal" id="pay" ng-init="mp.idChofer = 3362"> -->
                    <div class="form-group" style="margin-top:26px" ng-show="vm.valorApagar">              
                        <div class="col-sm-12">
                            <h3><span class="form-control" style="font-size:20px;background:#3f9ce8;font-style:normal;color:#fff;text-align:center;vertical-align:middle">{{vm.textos.MsjFinViaje_Valor_a_Pagar}} {{vm.textos.String_Moneda}} {{vm.valorApagar}}</span>
                            </h3>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:-33px">
                        <div class="col-sm-12">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
								<input class="mdl-textfield__input" type="text" id="email" ng-model="mp.tarjeta.email" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;">
								<label class="mdl-textfield__label" for="email" style="color: rgb(255, 251, 251)!important;font-size: 14px!important;">{{vm.textos.LogIn_Label_Email}}</label>
							</div>		
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:-40px">
						<div class="col-sm-12">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
								<input class="mdl-textfield__input" type="text" id="cardholderName" ng-model="mp.tarjeta.nombre" data-checkout="cardholderName" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;">
								<label class="mdl-textfield__label" for="cardholderName" style="color: rgb(255, 251, 251)!important;font-size: 14px!important;">{{vm.textos.DatosTC_Nombre}}</label>
							</div>		
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:-44px">
                       <!-- <div class="col-xs-4">
                            <input type="text" class="form-control" id="docType" data-checkout="docType" placeholder="{{vm.textos.DatosTC_tipo_dni}}" ng-model="mp.tarjeta.documentoTipo" disabled>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="docNumber" data-checkout="docNumber" placeholder="{{vm.textos.DatosTC_dni}}" max="15" ng-model="mp.tarjeta.documentoNumero">
                        </div> -->
						
						<div class="col-sm-12">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
								<input class="mdl-textfield__input" type="text" id="cpf" ng-model="" data-checkout="cpf" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;">
								<label class="mdl-textfield__label" for="cpf" style="color: rgb(255, 251, 251)!important;font-size: 14px!important;">CPF</label>
							</div>		
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:-40px">
                        <div class="col-sm-12">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
								<input class="mdl-textfield__input" type="text" id="cardNumber" ng-model="mp.tarjeta.nombre" data-checkout="cardNumber" ng-model="mp.tarjeta.numero" ng-blur="mp.getbandera()" maxlength="16" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;">
								<label class="mdl-textfield__label" for="cardNumber" style="color: rgb(255, 251, 251)!important; font-size: 14px!important;">{{vm.textos.DatosTC_hint_numCredito}}</label>
							</div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:-34px">
                        <div class="col-sm-4 col-xs-4">						
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
								
							   <!--     <select ng-model="mp.tarjeta.mes" id="cardExpirationMonth" data-checkout="cardExpirationMonth" style="font-size:16px;Height:40px;Width:70px;border-radius:5px">
										<option ng-repeat="mes in mp.meses" value="{{mes}}">{{mes}}</option>
									</select> -->
										
								  <input class="mdl-textfield__input" value="teste01" type="text" id="country" readonly tabIndex="-1" data-val="BLR" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;" />
								  <label for="sample1" class="mdl-textfield__label" style="color:#fff !important;">{{vm.textos.DatosTC_Label_VencimientoTC}}</label>
									<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="country" style="font-size: 14px!important;"  >
									  <li class="mdl-menu__item" data-val="01">teste01</li>
									  <li class="mdl-menu__item" data-val="02">teste02</li>
									</ul>
							</div>
                        </div>

                        <div class="col-sm-4 col-xs-4">                             
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
							   <!--     <select ng-model="mp.tarjeta.ano" id="cardExpirationYear" data-checkout="cardExpirationYear" style="font-size:16px;Height:40px;Width:70px;border-radius:5px">
											<option ng-repeat="anio in mp.anios" value="{{anio}}">{{anio}}</option>
										</select> 		-->									
								  <input class="mdl-textfield__input" value="2016" type="text" id="ANO" readonly tabIndex="-1" data-val="BLR" style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;" />
								  <label for="sample1" class="mdl-textfield__label" style="color:#fff !important;">ANO</label>
									<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="ANO" style="font-size: 14px!important;"  >
									  <li class="mdl-menu__item" data-val="01">2016</li>
									  <li class="mdl-menu__item" data-val="02">2015</li>
									</ul>
							</div>							
                        </div>
                        <div class="col-sm-4 col-xs-4">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label " >
									<input style="border-bottom: 1px solid rgb(255, 255, 255)!important; color: white !important;" ng-model="mp.tarjeta.codigo" class="mdl-textfield__input" type="text" id="securityCode" ng-model="mp.tarjeta.nombre" data-checkout="securityCode" ng-model="mp.tarjeta.numero" ng-blur="mp.getbandera()" maxlength="16">
									<label class="mdl-textfield__label" for="securityCode" style="color:#fff !important;">Cód. Seg.</label>
							</div>

                        </div>
                    </div>
					


                    <div class="form-group" ng-show="vm.valorApagar" style="margin-top:-20px">              
                        <div class="col-sm-12">

                            
                             <input type="checkbox" checked="checked" name="guardarme" id="guardarme" ng-model="mp.guardarme"/>
							 <label for="guardarme" style="color:#fff !important;">{{vm.textos.DatosTC_ChecBox_GuardarTC}}
							 </label>
							 
                            <!--   style="margin-left:5px;font-size:14px;color:#fff" -->
							
                            <br />

                            <div class="col-sm-6 col-xs-12">
                                        <div class="col-sx-12">
                                            <button type="submit"  id="bt1" class="btn btn-lg btn-pagar btn-block" ng-click="pg.pagar()" style="margin-top:25px; text-align:left !important;" >
                                                {{vm.textos.DatosTC_Btn_Pagar}}<img src="img/mercado_pago.png" style="width:147px; margin-top:-36px" class="leftblock img-responsive">
                                            </button>
                                        </div>
                                    </div>
									<div class="col-sm-6 col-xs-12">
                                        <div class="col-sx-12">
                                            <button type="submit" id="bt2" class="btn btn-lg btn-pagar btn-block" ng-click="pg.pagar()" style="margin-top:25px; text-align:left !important;" >
                                                {{vm.textos.DatosTC_Btn_Pagar_dinheiro}}<img src="img/carteira.png" style="width:30px; margin-top:-32px" class="leftblock img-responsive">
                                            </button>
                                        </div>
                                    </div>

                        </div>
                    </div>
                    

                    <div class="form-group" ng-show="!vm.valorApagar">
                        <div class="col-sm-12">
                        <img src="img/mercado_pago.png" style="width:184px;margin-top:0px" class="center-block img-responsive">
                            <button type="submit" class="btn btn-lg btn-default btn-block" style="margin-left:5px;margin-top:5px;color: #f3be18;font-size:24px" ng-click="mp.soloGuardaTC()">
                                <b> {{vm.textos.DatosTC_ChecBox_GuardarTC}} </b>
                            </button>
                        </div>
                    </div>

                
                    <div class="form-group" ng-show="!vm.valorApagar">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-default btn-block" style="margin-left:5px;margin-top:20px;color: #f3be18;font-size:24px" ng-click="mp.creacontamp()"><b>Crear conta no mercado pago??</b></button>
                        </div>
                    </div>
                </form>
                

<!--
            <!-- Fx clientes  
                <div class="row" style="margin-top:20px">

                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Search Customer" ng-click="mp.searchCustomermp()" />
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Crete Customer" ng-click="mp.crearCustomermp()" />
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Remove cutomer" ng-click="mp.removecustomermp()" />
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Update custumer " ng-click="mp.updatecustomp()" />
                    </div>
                </div>
                
            <!--  Fx tarjetas  
                <div class="row" style="margin-top:20px">
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Add card " ng-click="mp.addcardmp()" />
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Get card" ng-click="mp.getcardmp()" />
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Remove card" ng-click="mp.delcardcustomermp()" />
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <input type="button" value="Update CardCust" ng-click="mp.updatecardcustomp()" />
                    </div>
                </div>
             -->

            </div>
        </div>
</div>
</div>
<!--6465465454444644 
<div class="container">
    <div class="parent" ng-if="mp.vista == 'pago'">
        <div class="form-group" style="margin-top:90px">
            <div class="col-md-12">
                <h3><span class="label label-default" style="font-size:26px">Valor: {{vm.textos.String_Moneda}} {{vm.valorApagar}}</span></h3>
            </div>
        </div>
		<div class="col-md-12">
            <center>
				<div class="alert alert-success">
					<strong style="font-size:20px">Pagamento realizado com sucesso!</strong>
				</div>
			</center>
				<h3 class="text-default"><b>{{vm.textos.MsjFinViaje_Origen}}</b></h3>
					<div class="bg-info">
						<br>
						<h4><span><b>&nbsp;{{vm.address}}</b></span></h4>
						<br>
					</div>
						  <div class="form-group">
							<label class="sr-only" for="exampleInputAmount">{{vm.textos.MsjFinViaje_Chofer}}</label>
							<div class="input-group">
							  <div class="input-group-addon"><b>{{vm.textos.MsjFinViaje_Chofer}}<b></div>
							  <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.nombre}} {{vm.driver.apellido}}">
							</div>
						  </div>
						  <div class="form-group">
							<label class="sr-only" for="exampleInputAmount">{{vm.textos.MsjFinViaje_Taxi}}</label>
							<div class="input-group">
							  <div class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{vm.textos.MsjFinViaje_Taxi}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
							  <input type="text" class="form-control" id="exampleInputAmount" value="{{vm.driver.MarcaAuto}}-{{vm.driver.ModeloAuto}}-{{vm.driver.patente}}">
							</div>
						  </div>
                    <div ng-show="!vm.puntuoViaje" class="bg-info">
					<br>
                        <center>
						<h4>
						<div class="col-md-12">
                            Qualifique o motorista
                            <div star-rating ng-model="vm.puntosChofer" max="5" on-rating-select="vm.rateFunction()"></div>
                        </div>
						</h4>
						</center>
                        <center>
						<h4>
						<div class="col-md-12">
                            Qualifique Aplicativo
                            <div star-rating  ng-model="vm.puntosAuto" max="5"  on-rating-select="vm.rateFunction()"></div>
                        </div>
						</h4>
						</center>
						</br>
					</div>
					</br>
					<button type="button" class="btn btn-lg btn-tw btn-block" ng-click="vm.puntuarViaje(true)"><b>PAGAR</b></button>
					</br>
		</div>
	</div>
    <div class="parent" ng-if="mp.vista == 'error'">
        <div class="postNav">
            <div class="form-group" style="margin-top:0px">
                <div class="col-md-12">
                    <h3><span class="label label-default" style="font-size:26px">Valor: {{vm.textos.String_Moneda}} {{vm.valorApagar}}</span></h3>
                </div>
            </div>
            <div class="container">
                <h1 class="alert alert-danger" style="margin-top:70px;margin-left:20px">{{vm.textos.MsjFinViaje_Error}}</h1>
            </div>
        </div>
    </div>
</div>
-->