<div class="parent">
    <div class="col-md-4 center">
        Quali. Atendimento motorista:<br>
        <div star-rating ng-model="item.CalificViajeChofer" max="5" on-rating-select="vm.rateAuto(rating)"></div>
    </div>
    <div class="col-md-4 center">
        Quali. Atendimento Taxi:<br>
        <div star-rating ng-model="item.CalificViajeCoche" max="5" on-rating-select="vm.rateChofer(rating)"></div>
    </div>
</div>